
.main{
  background-color: grey;
  min-height: 550px;
}

.header{
  text-align: center;
  line-height: 15px;
  min-height: 30px;
}

.flexy-center{
  display: flex;
  justify-content: center;
}

.flexy-space-betw{
  display: flex;
  justify-content: space-between;
}

.mrgtop{
  margin-top: 10px;
}
/*.pad{
  margin: 2px;
  padding: 2px;
}*/

.category{
  padding: 0 5px 0 5px;
}
